PUSHI 0
READ
ATOI
STOREG 0
PUSHI 0
PUSHI 0
STOREG 1
PUSHI 0
PUSHI 0
STOREG 2
START
PUSHI 0
PUSHI 1
STOREG 3
ciclo2:
PUSHG 3
PUSHG 0
INF
JZ fim3
READ
ATOI
STOREG 1
PUSHG 1
PUSHG 2
SUP
JZ else0
PUSHG 1
STOREG 2
JUMP fim1
else0:
PUSHI 0
fim1:
PUSHG 3
PUSHI 1
ADD
STOREG 3
JUMP ciclo2
fim3:
PUSHG 2
WRITEI
STOP