PUSHN 10
PUSHI 0
PUSHI 0
STOREG 10
PUSHI 0
PUSHI 0
STOREG 11
PUSHI 0
PUSHI 10
STOREG 12
START
PUSHS "SEQUENCIA DE NUMEROS NATURAIS\n"
WRITES
PUSHI 0
STOREG 10
ciclo0:
PUSHG 10
PUSHI 10
INF
JZ fim1
PUSHGP
PUSHI 0
PADD
PUSHG 10
PUSHG 12
STOREN
PUSHG 12
PUSHI 1
SUB
STOREG 12
PUSHGP
PUSHI 0
PADD
PUSHG 10
LOADN
WRITEI
PUSHS "   "
WRITES
PUSHG 10
PUSHI 1
ADD
STOREG 10
JUMP ciclo0
fim1:
PUSHS "\n\nIMPARES \n"
WRITES
PUSHI 0
STOREG 10
ciclo4:
PUSHG 10
PUSHI 10
INF
JZ fim5
PUSHG 10
PUSHI 2
MOD
PUSHI 0
EQUAL
JZ else2
PUSHI 0
JUMP fim3
else2:
PUSHG 11
PUSHI 1
ADD
STOREG 11
PUSHGP
PUSHI 0
PADD
PUSHG 10
LOADN
WRITEI
PUSHS "   "
WRITES
fim3:
PUSHG 10
PUSHI 1
ADD
STOREG 10
JUMP ciclo4
fim5:
PUSHS "\n\nCOUNT IMPARES\n"
WRITES
PUSHG 11
WRITEI
STOP